h1 {
  /* text-align: center; */
  font-size: 2em

}
form {
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
}
.container {
  text-align: center;

  background-color: white;
margin: 5em 10em 15em 10em;
padding-top: 1em;
padding-bottom: 4em;
}
.bodyWrap {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
border: 1px solid black;
margin: 4em 25em 4em 25em;

}
body {
  background-color: black;
    /* margin: 60em; */
}
label {
  margin: 1em 0 1em 0;
  border-bottom: 1px solid black;
  text-align: center;
}
input[type=text] {
  width:30vw ;
  transition: all 0.5s;
}
input[type=text]:focus {
  background-color: lightblue;
}
input[type=password]:focus {
  background-color: #FBC5C5;
}
/* input[type=submit] {
  width:10vw ;
 border: 2px solid black;
 border-radius: 1em;
 margin-bottom: 1em;
 cursor: pointer;

} */
/* input[type=submit]:hover {
  background-color: red;
} */
.buttonS {
  display: inline-block;
  border-radius: 4px;
  background-color: gray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1em;

}

.buttonS span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.buttonS span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonS:hover span {
  padding-right: 25px;

}

.buttonS:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonS:hover {
  background-color: green;
}
.buttonWrap {
  align-items: center;
}
