<link rel="stylesheet" href="/css/navBar/style.css">
<nav>
  <a href="/notey/new" class="navBar">Create a New Note</a>
  <a href="/notey/" class="navBar">Home</a>
  <% if (currentUser) { %>

<div class="logIn">

  <span>
  Welcome <%= currentUser.username %>
  </span>

  <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Log Out" class="button" />
  </form>

</div>

<% } else { %>
<a href="/users/new" class="navBar">Sign Up</a>
<a href="/sessions/new" class="navBar">Log In</a>
<% } %>


</nav>
