<link rel="stylesheet" href="/css/navBar/style.css">
<nav>
  <a href="/notey/new" class="navBar">Create a New Note</a>
  <a href="/notey/" class="navBar">Home</a>
  <a href="#" class="navBar">Log In</a>
  <a href="#" class="navBar">Sign Up</a>
</nav>
