<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/nav.ejs') %>
</head>
  <body>
    <div class="container">
      <h1>notey New Page</h1>
      <form action="/notey/<%=note.id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="title" value="<%=note.title%>" />
        <label for="image">Image:</label>
        <input type="text" name="image" value="<%=note.image%>" />
        <textarea name="Description" rows="8" cols="80">Description</textarea>
        <br/>
        <input type="submit" value="Submit">
      <form>
      <button type="button" name="button">
        <a href="/notey">Back</a>
      </button>
    </div>
  </body>
</html>
