<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/nav.ejs') %>
        <link rel="stylesheet" href="/css/index/style.css">
  </head>
  <body>
      <h1>Welcome To Notey!</h1>
    <div class="container">

        <% for (let noteIteration of note ) { %>
          <div class="note">
            <a href="/notey/<%=noteIteration._id%>" class="noteLink">
              <%= noteIteration.title %>
            </a>
              <% if (noteIteration.image !== "") { %>
                <img src="<%= noteIteration.image %>" alt="Image Not Found">
              <% } %>
          </div>

       <% } %>
    </div>
  </body>
</html>
