<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/nav.ejs') %>
  <link rel="stylesheet" href="/css/edit/style.css">

</head>
  <body>
    <nav>
    </nav>
    <div class="container">
      <h1>notey New Page</h1>
      <form action="/notey" method="POST">
        <div class="bodyWrap">


        <label for="name">Name:</label>
        <input type="text" name="title" placeholder="Enter A Title" />
        <label for="name">Image:</label>
        <input type="text" name="image" placeholder="Paste In A Image Link" />
        <label for="body">Description:</label>
        <textarea name="body" rows="8" cols="80" placeholder="Description"></textarea>
        <br/>
                </div>
        <div class="submitButton">

        <input type="submit" value="Submit">
      </div>
      </form>
      <button type="button" name="button">
        <a href="/notey">Back</a>
      </button>
    </div>
  </body>
</html>
