h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  border-bottom: 1px solid black;
  
}
form {
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
}
.container {
  background-color: white;
  margin: 0 12em 0 12em;
}
.bodyWrap {
display: flex;
flex-direction: column;
align-items: center;
}
label {
  margin: 1em 0 1em 0;
  border-bottom: 1px solid black
}
input[type=text] {
  width:30vw ;

}
.buttonS {
  width:10vw ;
 border: 2px solid black;
 border-radius: 1em;
 margin-bottom: 1em;
 cursor: pointer;
}
.buttonS:hover {
  transition: .5s;
  background-color: green;
}
.submitButton {
  align-items: center;
  text-align: center;
}
body {
  background-color: #857F74
}
