<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/auth/style.css">

  </head>
  <body>

      <%- include ('../partials/nav.ejs') %>

    <div class="container">
      <h1>Log In</h1>
      <div class="bodyWrap">
      <form action="/sessions" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <div class="buttonWrap">

        <button type="submit" class="buttonS"><span>Log In</span></button>

      </div>
      <form>
      </div>
    </div>
  </body>
</html>
