
h1 {
  text-align: center;
  /* display: inline-block; */
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.note {
  border: 1px solid black;
  margin-bottom: 2em;
  width: auto;
  text-decoration: none;
  padding-left: 1em;
}
