
.styleBar {
  width: auto;
  height: 6em;
  margin: 0 2em 0 2em;
  background-color: black;
  color: white;
  text-align: right;

}
.titleName {
  padding-top: .8em;
  text-align: center;
}

.container {
  display: flex;
  background-color: #F5EF95;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2em 0 2em;
  border: 1px solid black;
  padding-bottom: 50em;
  padding-top: 3em;
}


li {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-right: 1em;
  transition: all 0.5s;

}
ul {
  list-style: georgian;
}
li a {
  text-decoration: underline;
  font-size: 150%;
  display: flex;
  flex-direction: row;
  font-family: papyrus;
}
li a:hover {

  text-decoration: none;
}
p {
  font-size: .8em;
}
body {
  background-color: #857F74
}

.note {
  border-left: 1px solid black;
  border-bottom: 1px solid black;

  width: auto;
  height: auto;

  padding-left: 1em;

  margin-right: 1em;

}
.delButton{
background-color: rgb(255,255,255, 0);
border: none;
font-size: .8em;
cursor: pointer;
margin-right: .4em;
}
.delButton:hover{
  transition: .8s;
  color: red;
  background-color: black;

}
.noteLink {

  color: black;
  transition: all 0.5s;

}
